<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--加入注解-->
    <mvc:annotation-driven/>

    <!--扫描路径-->
    <context:component-scan base-package="com.baidu"/>

    <!--静态资源交给web服务器自己处理-->
    <mvc:default-servlet-handler/>

    <!--定义静态资源的映射路径-->
    <mvc:resources mapping="js/**" location="/js/"/>

    <!--springMVC视图解析规则-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
                  value="org.springframework.web.servlet.view.JstlView"/>
        <!--前缀-->
        <property name="prefix" value="/WEB-INF/pages/"/>
        <!--后缀-->
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--引入db属性文件-->
    <context:property-placeholder location="classpath:db.properties"/>

    <!--c3p0数据源-->
    <bean id="dataSource"
          class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${driver}"/>
        <property name="jdbcUrl" value="${url}"/>
        <property name="user" value="${username}"/>
        <property name="password" value="${password}"/>
    </bean>

    <!--数据库连接工厂对象, 用于管理数据库连接-->
    <bean id="sessionFactory"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource"
                  ref="dataSource"/>
        <!-- mybatis-config.xml 中的配置(不要写mybatis-config.xml了)-->
        <property name="mapperLocations"
                  value="classpath*:com/baidu/mapper/*.xml"/>
    </bean>

    <!--Mybatis中的mapper代理接口的扫描规则-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage"
                  value="com.baidu.mapper"/>
        <property name="sqlSessionFactoryBeanName"
                  value="sessionFactory"/>
    </bean>

    <!--配置事务-->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--需要的数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!--配置事务属性的通知-->
    <tx:advice id="txAdvice"
               transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="*"/>
        </tx:attributes>
    </tx:advice>

    <!--配置aop-->
    <aop:config>
        <aop:pointcut id="pointCut" expression="execution(* com.baidu.service.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice"
                     pointcut-ref="pointCut"/>
    </aop:config>

    <!--文件上传-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

        <!--设置上传文件的大小 5M-->
        <property name="maxUploadSize" value="5242880"/>
    </bean>


</beans>