<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baidu.mapper.DepartmentMapper">

    <sql id="departSql">
        crm_department.depId,
        crm_department.depName
    </sql>

    <sql id="postSql">
        crm_post.postId,
        crm_post.postName
    </sql>

    <!--查询所有部门-->
    <select id="findAll"
            resultType="com.baidu.domain.Department">
        SELECT * FROM crm_department
    </select>


    <!--根据部门id查询单个对象-->
    <select id="findById"
            parameterType="java.lang.String"
            resultType="com.baidu.domain.Department">
        SELECT * FROM crm_department WHERE depId = #{value}
    </select>

    <!--根据部门id查询部门下的所有职务集合-->
    <resultMap id="postByDepIdMap"
               type="com.baidu.domain.Department">
        <id column="depId" property="depId"/>
        <result column="depName" property="depName"/>

        <!--一对多关系, 职务集合-->
        <collection property="postList"
                    ofType="com.baidu.domain.Post">
            <id column="postId" property="postId"/>
            <result column="postName" property="postName"/>
            <result column="depId" property="depId"/>
        </collection>
    </resultMap>


    <!--根据部门id查询职务集合 , 一对多关系-->
    <select id="findPostByDepId"
            parameterType="java.lang.String"
            resultMap="postByDepIdMap">
        SELECT
        <include refid="departSql"/>,
        <include refid="postSql"/>
        FROM crm_post,crm_department
        WHERE crm_department.depId = crm_post.depId
        AND crm_department.depId = #{value}
    </select>

</mapper>