<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.baidu.mapper.PostMapper">

    <!--根据职务id查询-->
    <select id="findById"
            parameterType="java.lang.String"
            resultType="com.baidu.domain.Post">
        SELECT * FROM crm_post WHERE postId = #{value}
    </select>


</mapper>